<section class="main">
    <div class="container">
        <header class="header">
            <load src="./logo.html" />
        </header>

        <div class="main__event-info">
            <div class="main__event-wrapper">
                <p class="main__event-name">Безоплатний вебінар</p>
            </div>
            <div class="main__event-wrapper">
                <p class="main__event-date">Старт: 10 січня 19:30</p>
            </div>
        </div>

        <h1 class="main-title">
            Навчіться створювати Excel-таблиці на pro-рівні
        </h1>

        <p class="main__sub-title">
            <span class="main__sub-title-text">
                Опануйте функціонал Microsoft Excel,
                автоматизуйте свою роботу та створюйте
                таблиці швидко і в задоволення
            </span>
            <svg class="main__sub-title-icon">
                <use href="/img/sprite.svg#icon-rotated_arrow"></use>
            </svg>
        </p>
    </div>
</section>