<section class="main">
  <div class="container main_wrapper">
    <div class="main__description">
      <header class="header">
        <load src="./logo.html" />
      </header>

      <div class="main__event-info">
        <div class="main__event-wrapper">
          <div class="main__event-border">
            <div class="main__left-top-border">
              <div class="main__right-bottom-border">
                <p class="main__event-name">Безоплатний вебінар</p>
              </div>
            </div>
          </div>
        </div>
        <div class="main__event-wrapper">
          <div class="main__event-border">
            <div class="main__left-top-border">
              <div class="main__right-bottom-border">
                <p class="main__event-start main__event-border">
                  Старт: <span class="main__event-date">10 січня 19:30</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h1 class="main-title">
        Навчіться створювати Excel-таблиці на pro-рівні
      </h1>

      <p class="main__sub-title">
        <span class="main__sub-title-text">
          Опануйте функціонал Microsoft Excel, автоматизуйте свою роботу та
          створюйте таблиці швидко
        </span>
        <span class="main__sub-title-end"> і в задоволення </span>
        <svg class="main__sub-title-icon">
          <use href="/img/sprite.svg#icon-rotated_arrow"></use>
        </svg>
      </p>
    </div>
    <div class="main__registration-wrapper">
      <load src="./registration.html" />
    </div>
    <div class="main_formulas">
      <code class="main__formula main__formula-1"
        >SUMIF(C3:C12,’’>70,000’’)</code
      >
      <code class="main__formula main__formula-2">f(x) = MIN(E2:E5)</code>
      <code class="main__formula main__formula-3">AVERAGE(B2+D2)</code>
      <code class="main__formula main__formula-4">SUM(A1+B4)</code>
      <code class="main__formula main__formula-5">= (A2*B2)</code>
    </div>
  </div>
</section>
