<section class="main">
    <div class="container">
        <div class="main__description">


            <header class="header">
                <load src="./logo.html" />
            </header>

            <div class="main__event-info">
                <div class="main__event-wrapper">
                    <div class="main__event-border">
                        <div class="main__left-top-border">
                            <div class="main__right-bottom-border">
                                <p class="main__event-name">Безоплатний вебінар</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main__event-wrapper">
                    <div class="main__event-border">
                        <div class="main__left-top-border">
                            <div class="main__right-bottom-border">
                                <p class="main__event-start main__event-border">
                                    Старт: <span class="main__event-date">10 січня 19:30</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h1 class="main-title">Навчіться створювати Excel-таблиці на pro-рівні</h1>

            <p class="main__sub-title">
                <span class="main__sub-title-text">
                    Опануйте функціонал Microsoft Excel, автоматизуйте свою роботу та
                    створюйте таблиці швидко і в задоволення
                </span>
                <svg class="main__sub-title-icon">
                    <use href="/img/sprite.svg#icon-rotated_arrow"></use>
                </svg>
            </p>
            <div class="main__registration-wrapper">
                <load src="./registration.html" />
            </div>
        </div>
    </div>
</section>