<section class="registration">
  <div class="registration__wrapper">
    <div class="registration__title-wrapper">
      <load src="./registration-title.html" />
    </div>
    <div class="registration__timer-wrapper">
      <load src="./timer.html" />
    </div>
    <div class="registration__form-wrapper">
      <load src="./form.html" />
    </div>
    <button class="registration__btn register-btn" type="button">
      Зареєструватися
    </button>
  </div>
  <div class="registration__modal-wrapper">
    <load src="./partials/mobile-modal.html" />
  </div>
</section>
