<article class="timer">
  <div class="timer__table">
    <div class="timer__days">
      <span class="timer__digits"> 00 </span>
      <span class="timer__descr"> днів </span>
    </div>
    <span class="timer__dots"> : </span>
    <div class="timer__hours">
      <span class="timer__digits"> 00 </span>
      <span class="timer__descr"> годин </span>
    </div>
    <span class="timer__dots"> : </span>
    <div class="timer__minutes">
      <span class="timer__digits"> 00 </span>
      <span class="timer__descr"> хвилин </span>
    </div>
    <span class="timer__dots"> : </span>
    <div class="timer__seconds">
      <span class="timer__digits"> 00 </span>
      <span class="timer__descr"> секунд </span>
    </div>
  </div>
</article>
