:root {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: #010101;
  background-color: #f1f1f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
