:root {
  --main-green-color: #0f7c41;
  --main-page-bg: #f1f1f1;
  --main-text-color: #010101;
  --placeholder-color: #767b8e;
  --white-text-color: #ffffff;
  --secondary-font: sans-serif;
  --formula-light-color: #bfdbcc;
  --formula-normal-color: #97c3ab;
  --input--main-bg-color: #f2f4fa;
  --input--secondary-bg-color: #f5f5f5;
  --policy-link-color: #3577f7;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: var(--main-text-color);
  background-color: var(--main-page-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

button {
  border: none;
  padding: 0;
}

.js-is-modal-open.modal-wrapper {
  display: block;
}

.modal-wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .modal-wrapper {
    display: none;
  }
}
